# Ignore some static files and directories.
/.htaccess
/CJzip.php
/config.php
/favicon.ico
/index.php
/LICENSE.txt
/mainfile.php
/robots.php
/robots.txt
/web.config
/admin/
/cache/
/data/
/editors/
/files/
/images/
/includes/
/install/
/js/
/language/
/logs/
/sess/
/tmp/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/utility
!/modules/utility/*
/themes/*
!/themes/admin_default/css/utility.css
!/themes/admin_default/images/utility
!/themes/admin_default/images/utility/*
!/themes/admin_default/modules/utility
!/themes/admin_default/modules/utility/*
!/themes/default/css/utility.css
!/themes/default/images/utility
!/themes/default/images/utility/*
!/themes/default/modules/utility
!/themes/default/modules/utility/*