.infoerror{padding:10px;text-align:center;font-weight:700;background-color:#CC0000;color:#fff}
.infook{padding:10px;text-align:center;font-weight:700;background-color:green;color:#fff}
.center{text-align:center}
.fixtab{margin:0 0 2px 0!important}
.poiter{cursor:pointer;vertical-align:middle}